{% extends 'workforce/base.html' %}

{% block content %}
    <h2>Applications</h2>
    <ul class="card-list">
        {% for application in applications %}
            <li>
                <strong>{{ application.worker.name }}</strong> applied for
                <strong>{{ application.job_opportunity.title }}</strong><br>
                Status: {{ application.status }}
            </li>
        {% empty %}
            <li>No applications found.</li>
        {% endfor %}
    </ul>
{% endblock %}