{% extends 'workforce/base.html' %}

{% block content %}

<h1>Job Opportunities</h1>

<ul class="card-list">
    {% for job in jobs %}
        <li>
            <h2>
                <a href="{% url 'job_detail' job.pk %}">
                    {{ job.title }}
                </a>
            </h2>

            <p><strong>Employer:</strong> {{ job.employer.organisation_name }}</p>
            <p><strong>Salary Range:</strong> {{ job.salary_range }}</p>
            <p><strong>Status:</strong> {{ job.status }}</p>
        </li>
    {% empty %}
        <li>No job opportunities found.</li>
    {% endfor %}
</ul>

{% endblock %}