{% extends 'core/base.html' %}

{% block content %}
<h1 style="margin-bottom:20px;">Dashboard</h1>

<div style="display:flex; gap:20px;">

    <div style="flex:1; background:white; padding:25px; border-radius:12px; box-shadow:0 5px 15px rgba(0,0,0,0.1); text-align:center;">
        <h3>Total Youths</h3>
        <p style="font-size:30px; color:#2c5d87;">{{ youth_count }}</p>
    </div>

    <div style="flex:1; background:white; padding:25px; border-radius:12px; box-shadow:0 5px 15px rgba(0,0,0,0.1); text-align:center;">
        <h3>Total Programs</h3>
        <p style="font-size:30px; color:#2c5d87;">{{ program_count }}</p>
    </div>

    <div style="flex:1; background:white; padding:25px; border-radius:12px; box-shadow:0 5px 15px rgba(0,0,0,0.1); text-align:center;">
        <h3>Total Participations</h3>
        <p style="font-size:30px; color:#2c5d87;">{{ participation_count }}</p>
    </div>

</div>

{% endblock %}